@media (min-width: 800px) {
  main {
    max-width: 100%;
  }
  #logo {
    position: absolute;
    left: 113px;
    padding: 1.5em;
    width: 200px;
    img {
      width: 80%;
    }
  }
  .hero {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    .hero-img {
      background: url("/images/hero-desktop.jpg") center center/cover;
      width: 40%;
      height: 100vh;
    }
    .hero-info {
      width: 35%;
      text-align: left;
      p {
        padding: 0.2em 0 1.5em 0;
      }
      .background {
        display: block;
        width: 60%;
        overflow: hidden;
        position: absolute;
        top: -52%;
        left: 0;
        bottom: 0;
        z-index: -1;
      }
    }
  }
}
